<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Whizz</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link href="/css/one-page-wonder.css" rel="stylesheet" th:href="@{/resources/css/one-page-wonder.css}">
    <link href="/css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/stylesheet.css}">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- import navbar -->
            <div th:replace="fragments/navbar :: navbar"></div>
        </div>

    </nav>


    <!-- Page Content -->
    <div class="container">


        <!-- Panel 1-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dodaj KATEGORIE</h3>
            </div>
            <div class="panel-body">

                <form action="#" th:action="@{/admin/addcategory}" th:object="${category}" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="category">Nazwa kategorii:</label>
                        <div class="col-sm-10">
                            <input th:field="*{name}" name="inputCategory" type="text" class="form-control" id="category" placeholder="Podaj kategorie" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">Opis:</label>
                        <div class="col-sm-10">
                            <textarea th:field="*{description}" name="inputDescription" class="form-control" rows="3" id="description" placeholder="Podaj opisu tematu" maxlength="400" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="urlImage">Url obrazka:</label>
                        <div class="col-sm-10">
                            <input th:field="*{urlImage}" name="inputUrlImage" type="text" class="form-control" id="urlImage" placeholder="/resources/images/">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Zapisz</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="panel-footer"></div>
        </div>

        <!-- Panel 2-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dodaj PYTANIE</h3>
            </div>
            <div class="panel-body">
                <form th:action="@{/admin/addquestion}" class="form-horizontal" method="post">

                    <div class="form-group">
                        <label class="col-sm-2" for="question_category">Wybierz temat pytania: </label>
                        <div class="col-sm-10">
                            <select name="categoryId" class="form-control" id="question_category" required>
                                <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="question">Pytanie:</label>
                        <div class="col-sm-10">
                            <textarea name="inputQuestion" class="form-control" rows="3" id="question" placeholder="Podaj treść pytania" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="answer_1">Odpowiedź (1):</label>
                        <div class="col-sm-10">
                            <textarea name="inputAnswer1" class="form-control" rows="2" id="answer_1" placeholder="Podaj przykładową odpowiedź" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="answer_2">Odpowiedź (2):</label>
                        <div class="col-sm-10">
                            <textarea name="inputAnswer2" class="form-control" rows="2" id="answer_2" placeholder="Podaj przykładową odpowiedź" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="answer_3">Odpowiedź (3):</label>
                        <div class="col-sm-10">
                            <textarea name="inputAnswer3" class="form-control" rows="2" id="answer_3" placeholder="Podaj przykładową odpowiedź" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="answer_4">Odpowiedź (4):</label>
                        <div class="col-sm-10">
                            <textarea name="inputAnswer4" class="form-control" rows="2" id="answer_4" placeholder="Podaj przykładową odpowiedź" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="answer_1">Poprawna:</label>
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="radio">
                                <label class="radio-inline"><input type="radio" name="answerCorrect" value="correct_1" required> odpowiedź 1</label>
                                <label class="radio-inline"><input type="radio" name="answerCorrect" value="correct_2" required> odpowiedź 2</label>
                                <label class="radio-inline"><input type="radio" name="answerCorrect" value="correct_3" required> odpowiedź 3</label>
                                <label class="radio-inline"><input type="radio" name="answerCorrect" value="correct_4" required> odpowiedź 4</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>


        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted">QuizWhizz - developed by Michał Nowiński and Karolina Prusaczyk</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script th:src="@{/resources/js/jquery.js}" src="resources/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/resources/js/bootstrap.min.js}" src="resources/js/bootstrap.min.js"></script>

</body>

</html>
