<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Whizz</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet" th:href="@{/resources/css/one-page-wonder.css}">
    <link href="css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/stylesheet.css}">
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/resources/scripts/started_game.js}"></script>

</head>
<body>

<div class="container">
        <div class="container">
            <h2>Scores</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Imię</th>
                    <th>Zdobyte punkty</th>
                </tr>
                </thead>
                <tbody th:each="score, scoresIteration  : ${scores}">
                <tr>
                    <td th:text="${score.getPlayer().getName()}"></td>
                    <td th:text="${score.getPoints()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</body>
</html>