<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Whizz</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet" th:href="@{/resources/css/one-page-wonder.css}">
    <link href="css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/stylesheet.css}">
    <link href="css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/game-list.css}">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- import navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>

</nav>

<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>Quiz Whizz</h1>
            <h2>Sprawdź swoja wiedzę</h2>
        </div>
    </div>
</header>

<!-- Page Content -->

    <!-- LISTA KATEGORII -->
    <div class="container">

        <div class="container">
            <div class="page-header">
                <h1 class="text-center">Rozpocznij grę...</h1>
            </div>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>

            <div class="container">


                <div class="row stylish-panel">

                    <div class="col-sm-6 col-md-4" th:each="category,iterationStatus  : ${categories}">
                        <div>
                            <img src="#" th:src="@{${category.urlImage}}" class="img-circle img-thumbnail">
                            <h2 th:text="${category.name}"></h2>
                            <p th:text="${category.description}">Lorem ipsum dolor sit amet</p>
                            <a href="#" th:href="@{'/game/getstarted/'+${category.id}}" class="btn btn-primary">Rozpocznij quiz »</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- LISTA AKTYWYNYCH GIER -->
<div class="dark-background">

    <div class="container">

        <div class="page-header">
            <h1 class="text-center dark-background-text">...lub dołącz do gry</h1>
        </div>
        <p class="lead text-center dark-background-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>

        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{/resources/images/category_laboratory.png}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category">
                    Laboratorium <!-- nazwa kategori rozgrywanej gry th:text="${}" -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{/resources/images/profile_1.png}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">
                    Otwarta <!-- czy gra sie zaczela th:text="${}" -->
                    <div class="desc"><p class="text-uppercase"><small>status gry</small></p></div>
                </div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span>Games Josling</span></td> <!-- kto jest zalozycielem gry th:text="${}" -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span>2</span></td><!-- pobiera ilosc graczy z danej gry th:text="${}" -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a href="#"  class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry th:href="@{'/game/...'+${game.id}}" -->
            </div>
        </div>

        <!-- =========== TEST -->

        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{/resources/images/category_sport.png}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category">
                    Sport <!-- nazwa kategori rozgrywanej gry th:text="${}" -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{/resources/images/profile_1.png}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">
                    Otwarta <!-- czy gra sie zaczela th:text="${}" -->
                    <div class="desc"><p class="text-uppercase"><small>status gry</small></p></div>
                </div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span>Games Josling</span></td> <!-- kto jest zalozycielem gry th:text="${}" -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span>2</span></td><!-- pobiera ilosc graczy z danej gry th:text="${}" -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a href="#"  class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry th:href="@{'/game/...'+${game.id}}" -->
            </div>
        </div>

        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{/resources/images/category_laboratory.png}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category">
                    Laboratorium <!-- nazwa kategori rozgrywanej gry th:text="${}" -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{/resources/images/profile_2.png}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">
                    Otwarta <!-- czy gra sie zaczela th:text="${}" -->
                    <div class="desc"><p class="text-uppercase"><small>status gry</small></p></div>
                </div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span>Tonald Drump</span></td> <!-- kto jest zalozycielem gry th:text="${}" -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span>1</span></td><!-- pobiera ilosc graczy z danej gry th:text="${}" -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a href="#"  class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry th:href="@{'/game/...'+${game.id}}" -->
            </div>
        </div>


        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{/resources/images/category_history.png}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category">
                    Historia <!-- nazwa kategori rozgrywanej gry th:text="${}" -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{/resources/images/profile_1.png}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">
                    Otwarta <!-- czy gra sie zaczela th:text="${}" -->
                    <div class="desc"><p class="text-uppercase"><small>status gry</small></p></div>
                </div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span>Games Josling</span></td> <!-- kto jest zalozycielem gry th:text="${}" -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span>4</span></td><!-- pobiera ilosc graczy z danej gry th:text="${}" -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a href="#"  class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry th:href="@{'/game/...'+${game.id}}" -->
            </div>
        </div>


        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{/resources/images/category_biology.png}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category">
                    Biologia <!-- nazwa kategori rozgrywanej gry th:text="${}" -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{/resources/images/profile_default.png}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">
                    Trwa <!-- czy gra sie zaczela th:text="${}" -->
                    <div class="desc"><p class="text-uppercase"><small>status gry</small></p></div>
                </div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span>User</span></td> <!-- kto jest zalozycielem gry th:text="${}" -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span>6</span></td><!-- pobiera ilosc graczy z danej gry th:text="${}" -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a href="#"  class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry th:href="@{'/game/...'+${game.id}}" -->
            </div>
        </div>

        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{/resources/images/category_geography.png}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category">
                    Geografia <!-- nazwa kategori rozgrywanej gry th:text="${}" -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{/resources/images/profile_2.png}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">
                    Trwa <!-- czy gra sie zaczela th:text="${}" -->
                    <div class="desc"><p class="text-uppercase"><small>status gry</small></p></div>
                </div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span>Tonald Drump</span></td> <!-- kto jest zalozycielem gry th:text="${}" -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span>2</span></td><!-- pobiera ilosc graczy z danej gry th:text="${}" -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a href="#"  class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry th:href="@{'/game/...'+${game.id}}" -->
            </div>
        </div>

    </div>

</div>


<div class="container">
    <div class="page-header">
        <h1 class="text-center">...lub dołącz do gry</h1>
    </div>
    <table class="lead table table-hover" id="table">
        <thead>
        <tr>
            <th>Kategoria</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Laboratorium</td>
            <td>Otwarta</td>
            <td><a href="#" class="btn btn-primary">Dołącz</a></td>
        </tr>
        <tr>
            <td>Geografia</td>
            <td>Trwa</td>
            <td><a href="#" class="btn btn-primary">Dołącz</a></td>
        </tr>
        <tr>
            <td>Java</td>
            <td>Trwa</td>
            <td><a href="#" class="btn btn-primary">Dołącz</a></td>
        </tr>
        </tbody>
    </table>

</div>


<hr class="featurette-divider">
<!-- Footer -->
<footer>
    <!-- import footer -->
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script th:src="@{/resources/js/jquery.js}" src="resources/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/resources/js/bootstrap.min.js}" src="resources/js/bootstrap.min.js"></script>

</body>

</html>
