<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Whizz</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet" th:href="@{/resources/css/one-page-wonder.css}">
    <link href="css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/stylesheet.css}">
    <link href="css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/responsive-font.css}">

    <link href="css/stylesheet.css" rel="stylesheet" th:href="@{/resources/css/game-list.css}">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- import navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>

</nav>

<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>Quiz Whizz</h1>
            <h2>Sprawdź swoją wiedzę</h2>
        </div>
    </div>
</header>

<!-- Page Content -->

    <!-- LISTA KATEGORII -->
    <div class="container">

        <div class="container">
            <div class="page-header">
                <h1 class="text-center">Rozpocznij grę...</h1>
            </div>
            <p class="lead text-center">Poniżej znajdują się kategorie w których możesz się sprawdzić w grze jednoosobowej lub zmierzyć się z innymi graczami. Rozpocznij quiz i poczekaj na resztę graczy.</p>

            <div class="container">

                <div class="row stylish-panel">

                    <div class="col-sm-6 col-md-4" th:each="category,iterationStatus  : ${categories}">
                        <div style="height: 440px;">
                            <img src="#" th:src="@{${category.urlImage}}" class="img-circle img-thumbnail">
                            <h2 th:text="${category.name}"></h2>
                            <p th:text="${category.description}"></p>
                            <a href="#" th:href="@{'/game/open/forCategory/'+${category.id}}" class="btn btn-primary">Rozpocznij quiz »</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- LISTA AKTYWYNYCH GIER -->
<div class="dark-background">

    <div class="container">

        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center dark-background-text">...lub dołącz do gry</h1>
            </div>

            <p class="lead text-center dark-background-text">Znajdź otwartą grę i dołącz do rozgrywki. Zmierz się z innymi graczami w wybranych kategoriach. Wygrane w rozgrywkach wieloosobowych są dodatkowo nagradzane.</p>

            <div class="wrapper">
                <input type="button" class="btn-transparent" value="Aktualizuj aktywne gry" onClick="window.location.reload()">
                <!-- th:if="${games.isEmpty()}" tylko gdy nie ma aktywnych gier -->
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 card hovercard" th:each="game, iterationStatus : ${games}"> <!--petla po aktulanie rozgywanych grach  th:each="game : ${games}" -->
            <div class="clearfix background">
                <img src="#" th:src="@{${game.category.getUrlImage()}}" class="img-responsive"/> <!-- obrazek kategori gry -->
                <div class="category" th:text="${game.category.getName()}"><!-- nazwa kategori rozgrywanej gry  -->
                </div>
                <div class="avatar">
                    <img src="#" th:src="@{'/resources/images/profile_'+${game.players.get(0).id}+'.png'}" /> <!-- obrazek zalozyciela gry -->
                </div>
            </div>
            <div class="info">
                <div class="status">Otwarta</div>
                    <div class="desc"><p class="text-uppercase"><small>Status gry</small></p></div>
                <div class="desc">
                    <table class="table borderless">
                        <tbody>
                        <tr>
                            <td><p class="text-uppercase"><small>Owner</small></p></td>
                            <td><span th:text="${game.players.get(0).getName()}"></span></td> <!-- kto jest zalozycielem gry  -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Graczy</small></p></td>
                            <td><span th:text="${game.players.size()}"></span></td><!-- pobiera ilosc graczy z danej gry  -->
                        </tr>
                        <tr>
                            <td><p class="text-uppercase"><small>Numer gry</small></p></td>
                            <td><span th:text="${game.getId()}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <a th:href="@{'/game/' + ${game.getId()} + '/joinOpened'}"class="btn btn-default">Dołącz »</a> <!-- dolacza do wybranej gry -->
            </div>
        </div>

    </div>

</div>

<!-- RANKING -->
<div>
    <div class="container">

        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center">Ranking</h1>
            </div>
            <p class="lead text-center">Zestawienie TOP 5 najleszych graczy ze wszystkich kategorii.</p>
            <div class="res-font">
                <table class="table table-striped" align="center" valign="middle">
                    <tr class="score-headers">
                        <th>Ranking</th>
                        <th></th>
                        <th>Gracz</th>
                        <th>Rozegrane gry</th>
                        <!--<th>Wygrane MP</th>-->
                        <th>Zdobyte punkty</th>
                    </tr>


                    <tr class="score-row tr-color" th:each="ranking, iterationStatus : ${generalRank}" th:onclick="'javascript:rowClicked(\'' + ${ranking.userID} + '\');'" style="cursor: pointer">
                        <td>
                            <h2 th:text="${iterationStatus.count}"></h2>
                        </td>
                        <td>
                            <img th:src="@{${ranking.playerImageUrl}}" src="" class="img-circle img-profile-picture">
                        </td>
                        <td>
                            <h2 th:text="${ranking.playerName}"></h2>
                        </td>
                        <td>
                            <h2 th:text="${ranking.gamePlayed}"></h2>
                        </td>
                        <td>
                            <h2 th:text="${ranking.allPoints}"></h2>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="wrapper" style="padding-top: 20px">
                <a th:href="@{/app/ranking}" class="btn btn-default">Sprawdź wyniki w Top 50</a>
            </div>

        </div>

        <div class="col-md-12 padding-top">

            <div class="col-md-12">
                <div class="page-header">
                    <h1 class="text-center">Najlepsi według kategorii</h1>
                </div>
                <p class="lead text-center">Zestawienie najleszych graczy w danych kategoriach, uwzględniana jest ilość poprawnych odpowiedzi.</p>
            </div>

            <div class="col-sm-12 col-md-6 padding-top" th:each="element : ${categoryRankings}">
                <p class="lead text-center"><u th:text="${element.key}"></u></p>
                <table class="table table-striped" align="center" valign="middle">
                    <tr class="score-headers">
                        <th>Ranking</th>
                        <th></th>
                        <th>Gracz</th>
                        <th>Rozegrane gry</th>
                        <!--<th>Wygrane MP</th>-->
                        <th>Pop. Odp.</th>
                    </tr>
                    <tr class="score-row tr-color" th:each="ranking, iterationStatus : ${element.value}" th:onclick="'javascript:rowClicked(\'' + ${ranking.userID} + '\');'" style="cursor: pointer">
                        <td>
                            <h4 th:text="${iterationStatus.count}"></h4>
                        </td>
                        <td>
                            <img th:src="@{${ranking.playerImageUrl}}" src="" class="img-circle img-profile-picture-small">
                        </td>
                        <td>
                            <h4 th:text="${ranking.playerName}"></h4>
                        </td>
                        <td>
                            <h4 th:text="${ranking.gamePlayed}"></h4>
                        </td>
                        <td>
                            <h4 th:text="${ranking.allPoints}/10"></h4>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>


<!-- STATYSTYKI -->
<div class="grey-background">

    <div class="container">

        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center">Statystyki portalu</h1>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 res-font stat-div">
            <img th:src="@{'/resources/gfx/stat_users.jpg'}" src="" class="img-responsive stat-img">
            <div class="stat-txt">
                <h1 th:text="${numberUsers}" class="text-center"></h1>
                <p class="lead text-center ">Zarejestrowanych użytkowników</p>
            </div>
            <div class="overlay">
                <h1 th:text="${numberUsers}" class="text-center"></h1>
                <p class="lead text-center ">Zarejestrowanych użytkowników</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 res-font stat-div">
            <img th:src="@{'/resources/gfx/stat_numberofgames.jpg'}" src="" class="img-responsive stat-img">
            <div class="stat-txt">
                <h1 th:text="${statistics.numberGames}" class="text-center"></h1>
                <p class="lead text-center">Rozegrane gry</p>
            </div>
            <div class="overlay">
                <h1 th:text="${statistics.numberGames}" class="text-center"></h1>
                <p class="lead text-center">Rozegrane gry</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 res-font stat-div">
            <img th:src="@{'/resources/gfx/stat_gamemp.jpg'}" src="" class="img-responsive stat-img">
            <div class="stat-txt">
                <h1 th:text="${statistics.numberMPGames}" class="text-center"></h1>
                <p class="lead text-center ">Gry wieloosobowe</p>
            </div>
            <div class="overlay">
                <h1 th:text="${statistics.numberMPGames}" class="text-center"></h1>
                <p class="lead text-center ">Gry wieloosobowe</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 res-font stat-div">
            <img th:src="@{'/resources/gfx/stat_mostpopularcategory.jpg'}" src="" class="img-responsive stat-img">
            <div class="stat-txt">
                <h2 th:text="${statistics.mostPopularCategory}" class="text-center"></h2>
                <p class="lead text-center ">Najchętniej wybierana kategoria</p>
            </div>
            <div class="overlay">
                <h2 th:text="${statistics.mostPopularCategory}" class="text-center"></h2>
                <p class="lead text-center ">Najchętniej wybierana kategoria</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 res-font stat-div">
            <img th:src="@{'/resources/gfx/stat_mostpopularscore.jpg'}" src="" class="img-responsive stat-img">
            <div class="stat-txt">
                <h1 th:text="${statistics.mostPopularScore}" class="text-center"></h1>
                <p class="lead text-center ">Najczęściej osiągany wynik</p>
            </div>
            <div class="overlay">
                <h1 th:text="${statistics.mostPopularScore}" class="text-center"></h1>
                <p class="lead text-center ">Najczęściej osiągany wynik</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 res-font stat-div">
            <img th:src="@{'/resources/gfx/stat_numberofquestion.jpg'}" src="" class="img-responsive stat-img">
            <div class="stat-txt">
                <h1 th:text="${numberQuestions}" class="res-font text-center"></h1>
                <p class="lead text-center ">Liczba pytań w bazie</p>
            </div>
            <div class="overlay">
                <h1 th:text="${numberQuestions}" class="res-font text-center"></h1>
                <p class="lead text-center ">Liczba pytań w bazie</p>
            </div>
        </div>
    </div>

</div>


<hr class="featurette-divider">
<!-- Footer -->
<footer>
    <!-- import footer -->
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script th:src="@{/resources/js/jquery.js}" src="resources/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/resources/js/bootstrap.min.js}" src="resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
<script>
    function rowClicked(value) {
        location.href = "/user/" + value;
    }
</script>
</body>

</html>
